.carousel-caption {
    color: black;
    font-size: 5rem;
    right: 58%;
    text-align: center;
    max-width: 500px;
    left: auto;
    /*top: auto;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-caption h1 {
    white-space: nowrap;
    font-weight: bold;
    font-size: 4rem;
}

.carousel-caption p {
    white-space: nowrap;
    font-size: 2rem;
}

.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .white-line {
    position: absolute;
    bottom: 100px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 5px;
    background-color: white;
    z-index: 1;
  }